/* ----------------------------------------------------
Stylesheet for https://github.com/vikramkrana/school

Updated: 16/12/2020
Author: Vikram Rana

---------------------------------------------------- */

/* -------------------- Resets --------------------- */
body,
form,
fieldset,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  vertical-align: bottom;
  width: 100%;
}
button {
  outline: none;
}
/* ------------------- Defaults ------------------- */
html {
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
}
body {
  height: 100%;
  font: 100%/1.5 "Montserrat", sans-serif;
  background: #fff;
  color: #333;
}
/* ------------------ Typography ------------------- */

p,
ul,
ol {
  font-size: 1em;
}
ul {
  list-style: none;
}
h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1.1em;
}

/* ------------------- Links ---------------------- */
a {
  text-decoration: none;
  color: #333333;
  outline: 0;
}
a:visited {
  color: #333333;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
/* ------------------- Fonts ------------------- */
@font-face {
  font-family: grandstander;
  src: url(../fonts/Grandstander-clean.otf);
}
@font-face {
  font-family: GothamLight;
  src: url(../fonts/GothamLight.ttf);
}
@font-face {
  font-family: GothamMedium;
  src: url(../fonts/GothamMedium.ttf);
}
@font-face {
  font-family: GothamBook;
  src: url(../fonts/GothamBook.ttf);
}
/* ---------- common css from here ---------- */
.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.flex-btw-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}

/* ---------- Start main css from here ---------- */
.header-wrap {
  background: #ffffff;
  box-shadow: 0px 1px 10px #0000001a;
  position: fixed;
  width: 100%;
  z-index: 999999;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header-left {
  width: 40%;
}
.header-right {
  width: 60%;
}
.header-left .site-logo img {
  width: 220px;
}
.container {
  padding: 15px 0;
}
.toggle-btn {
  font-size: 24px;
}
.toggle-btn::before {
  margin-left: -60px;
}
.header-right .menus {
  width: 70%;
}
.header-right .menu-list {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.header-right .menu-list a:hover,
.mobile-menu-list a:hover {
  color: #ff3a58;
  cursor: pointer;
  transition: all 1s ease;
}
#mobileMenu,
.mobile-icon {
  display: none;
}
#mobileMenu {
  padding: 20px;
  background: #fdffd3;
}
#mobileMenu .mobile-menu-list .item {
  padding: 10px 0px;
}
.menu-list,
.wallet .money {
  font-family: grandstander;
}
.wallet {
  box-shadow: 1px 1px 0px #00000029;
  border: 1px solid #333333;
  border-radius: 25px;
  font-size: 18px;
}
.wallet .user-icon {
  background: #bffe8a;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.wallet .money {
  margin: 0 15px 0 5px;
}
.breadcrumb {
  padding: 10px 0 0;
}
.breadcrumb-list .item a {
  padding-right: 25px;
  font-size: 15px;
  color: #adbabd;
  font-weight: 500;
  position: relative;
}
.breadcrumb-list .item a::after {
  content: "";
  background: url("../images/icons/double-chevron-right.png");
  position: absolute;
  width: 8px;
  height: 7px;
  top: 8px;
  right: 8px;
  background-size: 100% 100%;
  filter: contrast(0);
}
.breadcrumb-list .item-last a:after {
  right: 10px;
  content: "\f105";
  background: none;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  filter: contrast(0.8);
  font-size: 12px;
  top: 2px;
}
.img-container {
  width: 51.4%;
  position: relative;
}
.img-container img {
  height: 367px;
}
.img-container .watch-btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #ffffff;
  box-shadow: 1px 1px 0px #00000029;
  border-radius: 5px;
  padding: 15px 30px;
  border: none;
}
.img-container .watch-btn::before {
  font-size: 18px;
}
.img-container .watch-btn p {
  font-family: grandstander;
  font-weight: 400;
  font-size: 16px;
  padding-left: 10px;
}
.img-container .watch-btn:hover {
  background: #ff3a58;
  color: #fff;
  cursor: pointer;
  transition: all 1s ease;
}
.product-wrap {
  background: #fbfcf7;
  padding: 70px 0 40px;
  margin-bottom: 10px;
}
.product-info {
  padding-left: 95px;
  width: 40%;
}
.product-top {
  padding-top: 20px;
  align-items: baseline;
}
.product-summary .title h1 {
  font-size: 35px;
  font-weight: 500;
}
.product-summary .sub-title {
  font-size: 18px;
  font-weight: 500;
  padding: 0 0 20px 0;
}
.product-summary .sub-title .category {
  padding-right: 15px;
}
.recommend {
  background: #fdffd3;
  box-shadow: 1px 1px 0px #00000029;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 3px 20px;
}
.recommend .like img:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}
.recomment-content {
  padding-left: 16px;
}
.recomment-content .count {
  font-size: 18px;
  font-weight: 700;
}
.recomment-content .label {
  font-size: 10px;
  font-weight: 300;
}
.label-color {
  color: #a9b7b9;
  font-size: 14px;
}
.product-desc,
.choose-slot {
  padding-bottom: 30px;
}
.title-info .stay-date {
  font-size: 24px;
}
.title-info .stay-date .date {
  font-family: GothamMedium;
}
.title-info .stay-date .time {
  font-family: GothamLight;
}
.icons .or-label {
  font-size: 10px;
}
.choose-slot .label-color {
  margin-bottom: 5px;
}
.choose-slot .choose-time .time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}
.choose-slot .choose-time .time a {
  border: 1px solid #707070;
  border-radius: 20px;
  font-size: 14px;
  padding: 7px 20px;
}
.choose-slot .choose-time .time a:hover {
  background: #beffda;
  border: 0.6000000238418579px solid #02c972;
  transition: all 1s ease;
}
.choose-slot .choose-time .time .seat {
  font-size: 12px;
  color: #8ab7c0;
  margin-top: 5px;
}
.price-info {
  padding-bottom: 20px;
}
.price-info .price {
  box-shadow: 2px 2px 0px #0000001a;
  border-radius: 5px;
  font-size: 18px;
  padding: 9px 20px;
  margin-right: 30px;
}
.price-info .real {
  font-size: 14px;
  color: #6997a1;
  font-weight: 500;
  padding-right: 5px;
  text-decoration: line-through;
}
.price-info .sale {
  font-size: 18px;
  font-weight: 700;
}
.earn-points a {
  font-size: 15px;
  font-weight: 600;
  color: #ff3a58;
  text-decoration: underline;
}
.buy-buttons .book-class {
  background: #ff3a58;
  box-shadow: 2px 2px 0px #0000001a;
  border: 1px solid #ff3a58;
  border-radius: 5px;
  color: #fff;
  font-family: grandstander;
  font-size: 16px;
  padding: 15px;
  width: 350px;
  margin-right: 30px;
}
.buy-buttons .book-class:hover {
  background: #fff;
  color: #ff3a58;
  cursor: pointer;
  transition: all 1s ease;
}
.buy-buttons .share {
  font-family: grandstander;
  font-size: 16px;
  padding: 15px;
  box-shadow: 2px 2px 0px #0000001a;
  border: 1px solid #ff3a58;
  border-radius: 5px;
  color: #ff3a58;
  background: #fff;
}
.buy-buttons .share:hover {
  background: #fdffd3;
  border: 1px solid #333;
  color: #333;
  cursor: pointer;
  transition: all 1s ease;
}
.goal-container,
.skills-container {
  align-items: flex-end;
}
h2.title {
  font-family: grandstander;
  font-size: 25px;
  font-weight: 400;
  position: relative;
  margin-bottom: 20px;
}
h2.title:before {
  content: "";
  background: #a0e467;
  border-radius: 6px;
  height: 6px;
  width: 32px;
  position: absolute;
  top: -7px;
}
.goal-container,
.skills-container {
  margin-bottom: 30px;
}
.goal-label {
  background: #6188ea;
}
.badge-label {
  background: #8ae241;
}
.skills-label {
  background: #af70fc;
}
.goal-label,
.badge-label,
.skills-label {
  box-shadow: 0px 3px 0px #0000001a;
  color: #fff;
  border-radius: 10px;
  display: inline;
  padding: 2px 14px 6px;
  font-family: grandstander;
  font-size: 12px;
}
.goal-item .item {
  box-shadow: 1px 1px 0px #0000001a;
  border: 1px solid #cbd8db;
  border-radius: 30px;
  display: flex;
  align-items: center;
  font-family: grandstander;
  font-size: 16px;
  padding: 5px;
  margin: 10px 20px 10px 0;
}

.goal-item .points {
  background: #ffe30d;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #8a7a00;
}
.goal-item .item .point-double {
  border: 5px double #ccc;
  background: #fff;
  width: 35px;
  height: 35px;
  position: relative;
}
.points.point-double::before {
  content: "";
  height: 14px;
  width: 14px;
  background: #fff;
  border-radius: 0 100px 0 0;
  -moz-border-radius: 0 100px 0 0;
  -webkit-border-radius: 0 100px 0 0;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
}
.points.point-double::after {
  content: "";
  border: 5px solid #a0e467;
  height: 6px;
  width: 6px;
  position: absolute;
  top: -4px;
  right: -4px;
  border-radius: 0 100px 0 0;
  -moz-border-radius: 0 100px 0 0;
  -webkit-border-radius: 0 100px 0 0;
}
.goal-item .item-label {
  padding: 0 20px;
}
.content-wrap {
  margin-bottom: 20px;
}
.content-wrap .content {
  font-size: 16px;
  color: #5a5959;
}
.post-card-container .post-card {
  box-shadow: 3px 3px 5px #0000001a;
  border-radius: 10px;
  margin: 20px 26px 20px 0;
}
.post-card-container .post-card:last-child {
  margin-right: 0;
}
.post-card-container .post-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.post-card-container .post-card .content {
  padding: 20px;
  font-size: 24px;
  color: #474747;
  align-items: flex-end;
}
.post-card-container .post-card:hover,
.step-card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 1s ease;
}
.post-card .arrow-icon:hover {
  color: #ee3f5a;
}
.step-card {
  flex-direction: column;
  background: #f6feff;
  box-shadow: 3px 3px 0px #0000001a;
  border-radius: 5px;
  padding: 40px 20px;
  margin-right: 30px;
  width: 255px;
}
.step-card:last-child {
  margin-right: 0;
}
.step-card img {
  height: 50px;
  width: 50px;
}
.step-card .step-label {
  color: #ee3f5a;
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
}
.step-card .title {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}
.step-card .content {
  font-weight: 300;
  text-align: center;
  font-size: 12px;
}
.slider-wrap .container {
  padding-bottom: 0;
}
.slider-wrap .owl-theme .owl-nav {
  margin-top: 0;
}
.slider-wrap .owl-item {
  filter: opacity(0.1);
}
.slider-wrap .owl-stage {
  padding: 20px 0;
}
.slider-wrap .owl-item.active.center {
  z-index: 10;
  filter: opacity(1);
}
.slider-wrap .owl-item.active.center img {
  box-shadow: 5px 5px 0px #00000029;
  border: 10px solid #000000;
  border-radius: 30px;
  margin: -10px;
}
.slider-wrap .owl-carousel .owl-nav.disabled {
  display: block !important;
}
.slider-wrap .owl-carousel .owl-nav .owl-prev,
.owl-dots {
  display: none !important;
}
.slider-wrap .owl-carousel .owl-nav .owl-next {
  height: 40px;
  background: #f6f6f6;
  box-shadow: 0px 0px 5px #00000029;
  width: 40px;
  border-radius: 20px;
  position: absolute;
  bottom: 30px;
  right: 37%;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-wrap .owl-carousel .owl-nav .owl-next:hover {
  color: #fff;
  background: #ff3a58;
  transform: scale(1.2);
  transition: all 1s ease;
}

.footer-wrap,
.footer-wrap a {
  background: #635d5d;
  font-size: 14px;
  color: #fff;
}
.footer-wrap a:hover {
  color: #ff3a58;
}
.footer-wrap {
  margin-top: -20px;
}
.footer-top {
  padding: 50px;
}
.footer-top button {
  background: #ff3a58;
  box-shadow: 2px 2px 0px #0000001a;
  border: 1px solid #ff3a58;
  border-radius: 5px;
  font-size: 14px;
  font-family: grandstander;
  height: 45px;
  width: 160px;
  color: #fff;
}
.footer-top button:hover {
  color: #ff3a58;
  background: #fff;
  cursor: pointer;
  transition: all 1s ease;
}
.footer-first,
.footer-second,
.footer-third {
  width: 33%;
}
.footer-first img {
  width: 190px;
}
.footer-first .slogan {
  margin: 5px 0 15px;
}
.footer-first .icon {
  padding: 0 10px 0 0;
  font-size: 18px;
}
.footer-first .flex-center {
  padding-bottom: 14px;
}
.footer-second {
  justify-content: space-around;
}
.footer-second .quick-links .link {
  margin-bottom: 14px;
}
.footer-third .social .link {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 15px;
  color: #635d5d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}
.footer-third .social .link:hover {
  background: #ff3a58;
  color: #fff;
  cursor: pointer;
  transition: all 1s ease;
}
.footer-third .store-img img {
  width: 135px;
  margin: 30px 30px 0 0;
}
.footer-third .store-img img:hover {
  cursor: pointer;
}
.footer-mobile{
    display: none;
}
.copyright {
  background: #5a5555;
  text-align: center;
  padding: 10px;
}
